In [68]:
'1234'[2] ==3
#because a sting is not equal to an integer

False

In [182]:
[1] in [1] #since a list containing 1 ([1]) is not in the list 1.

False

In [1]:
data = {"Jan": 31, "Feb": [28, 29], "Mar": 31}
print(data["Jan"])

31

In [2]:
def addOne(values):
    for i in range(len(values)):
        values[i] = values[i] + 1

addOne([1,2,3])

In [3]:
print("Good","Morning","Class","!")
#comma adds a space

Good Morning Class !

In [4]:
x = {}
x["Hello"] = [4, 5]
x["Hello"].append("World")
print(x["Hello"])

[4, 5, 'World']

In [5]:
table = [["T", "U", "V"], ["W", "X", "Y"]]
print(table[len(table) - 1][len(table[1]) - 1])

Y

In [ ]:
a = 5
if a > 4:
    print("A")
if a > 2:
    print("B")
else:
    print("C")

A
B

In [ ]:
a = [1, 2, 3]
i = 0
while i < len(a):
    a[i] = a[i] ** 2
    print(i)
    i += 1
    
print(a)

0
1
2
[1, 4, 9]

In [ ]:
lists = [[1, 2], [0, 3], [4], [5,6,7]]
for lst in lists:
    for item in lst:
        if item != 0:
            print(item)

1
2
3
4
5
6
7

In [ ]:
x=[11,9,7,5,3,1,0]
y=4
i=0
while i<y:
    print(i, x[i])
    i=i+1

0 11
1 9
2 7
3 5

In [ ]:
0 11
1 9
2 7
3 5

In [ ]:
def main():
    x = 3
    y = 4
    swap(x, y)
    print(x, y)

def swap(x, y):
    temp = y
    y = x
    x = temp

main()

3 4

In [ ]:
def f(x):
    return 2*x
print(3+f(2) == f(3+2))

False

In [ ]:
numbers = [1,2,3,5,8]
y = [x+1 for x in range(0,10) if x not in numbers]
print(y)

[1, 5, 7, 8, 10]

In [ ]:
[1,5,7,8,10]

In [ ]:
def countChar():
    prompt = input("Please enter the string: ")
    special_char = input("Please enter the character: ")
    counter = 0
    for char in prompt:
        if char.capitalize() == special_char.capitalize():
            counter += 1
            print(char)
    print(f'The character "{special_char}" appeared {counter} times in "{prompt}"')

countChar()

#one big letter wrong. had "for char in prompt(): " which is wrong, should not have ()
#  in a for loop
#cant use .islower() because it checks wheter it is lower or upper

H
h
The character "h" appeared 2 times in "Hei heter"

In [ ]:
def makeDict(key_lst, value_lst):
    dict = {}
    if len(key_lst)==len(value_lst):
        for i in range(len(key_lst)):
            dict[key_lst[i]] = value_lst[i] # (key_lst,value_lst)
        print(dict)
        return dict
    else:
        print("Warning: number of keys and values do not match")
        print(dict)
        return dict 
        
makeDict(['a', 'b', 'c'], [1, 2, 3])


#mistakes:
#forgot a "" at the end of a print
#capitalized a varable that should not be
#forgot value_lst[i] wrote value_lst
#forgot i in range(), only wrote i in len(key_lst)

Warning: number of keys and values do not match

{}

In [30]:
def reverse(word):
	return word[::-1]

print(reverse("hei du"))

ud ieh

In [32]:
def reverse(word):
    word_lst = [i for i in word]
    reverse_lst = []
    for i in range(len(word)): #word = hi, for i in range(2).i = 0,1 o 1,2
        reverse_lst.append(word_lst[-i-1])
    print("".join(reverse_lst))

reverse("Kai thomas")

samoht iaK

In [ ]:
my = {"alice":200 , "joe":12000, "joe":600} 
print(my)

#the last of the same "key" is printed. prints only unique keys

{'alice': 200, 'joe': 600}

In [72]:
lst = [1,2,3]
lst[1]=3
lst

[1, 3, 3]

In [79]:
a = (1,2,3,4)
b = a
a += (1,2)
print(b)
print(a)

(1, 2, 3, 4)
(1, 2, 3, 4, 1, 2)

In [ ]:
#immutable

In [1]:
_hie = 8

_hie

8

SyntaxError: invalid syntax (3098699273.py, line 1)

In [ ]:
"abcdefghi"[1::2] #starts at 1 index and has no stop, so the whole string and prints every other character.
#stings support start:stop:step indexing syntax

'bdfh'

In [13]:
h = 8 

if h==8:
    print(h)

elif h < 10:
    print("a")

8

In [21]:
Y = 10

def h(x):
    if x > 0:
        global p
        p = 2
        f = 4
        print(f"you{f}")
        return f
    if x < 0:
        print("me")
        return

f = h(10)
print(f)
print(p)

you4
4
2

In [ ]:
"b" in {"a": "b", "c": "d"} #False since b is not a key, but a value. (key-value pair)
"a" in {"a": "b", "c": "d"} #True since a is a key

True

In [25]:
str(float(1.1)) == '1.1'

True

In [29]:
'Dr. Malone'[::-1]

'enolaM .rD'

In [32]:
[["1", "a"], 0, [""]][0][0][0] == '1'

True

In [36]:
street = " Main Street"
address = '123' + street
print(address)

123 Main Street

In [ ]:
num = int("10") * float("1.5")
print(num)

15.0

In [41]:
firstName = "Pamela"
middleName = "Rose"
lastName = "Smith"
print(firstName[0], middleName[0], lastName[4])

P R h

In [42]:
def main():
    a = 10
    print(func(func(a)))
def func(x):
    x = x * 2
    return x
main()

40

In [43]:
a = 0
b = 1
c = 1
if a == b:
    print("W")
else:
    print("X")
    if b == c:
        print("Y")
    else:
        print("Z")

X
Y

In [ ]:
counter = 0
for i in range(10): #runs 10 times, since the looping i is not affected by i+=2
    counter += 1
    i += 2
print(f"this is the final {counter}")

this is the final 10

In [48]:
myString = [["1", "a"], 0, [""]]
print(myString[int(myString[0][0])])

0

In [ ]:
def main():
    x = [3]
    y = [4]
    swap(x, y)
    print(x, y)

def swap(x, y):
    temp = y #4
    y[:] = x #3
    x[:] = temp #4
    
main()

[3] [3]

In [52]:
i = 10
while i > 0:
    print("Hi")
    i -= i
    #i += 1
    #i = i + 1
    #i = i-i = 0 -> so it only runs 1 time. since i is now 0

Hi

In [61]:
x = [1, 2, 3, 4, 5]

def func(x):
    return x[1:-1]

func(x)
print(x)

# [2,3,4]
#[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
s = "abcde" 
j = len(s) - 1 #4
while j >= 0:
    print(s[:j])
    j = j - 1

abcd
abc
ab
a

In [ ]:
def func(n):
    if n <= 1:
        return n
    else:
        return n*func(n-1) # 3*2*1
    
print(func(3))

6

In [ ]:
def f1():
    print("A", end="")
def f2():
    f1()
    print("B", end="")
print("C", end="") #end adds space or no space at the end

C

In [179]:
x = [11,9,7,5,3,1,0]
y = 6
i=0
while i < y:
    i = i+2
    print(i, x[-i], end=" ") #the end("") makes it all in one line but with spaces between

2 1 4 5 6 9

In [85]:
def reverse(x):
    return x[::-1]

def palindrome():
	while True:
		word = input("\nEnter a word  (or press\"Q\" to quit): ")
		if word.upper() == "Q":
			break
		if word.upper() == reverse(word).upper():
			print(f"\"{word}\" is a palindrome")
		else:
			print(f"\"{word}\" is not a palindrome")
			
palindrome()

#mistakes i did: forgot def, used capitalize which only capitalizes the first letter and lowercases the other

"Hei" is not a palindrome
"Ho" is not a palindrome

In [102]:
norwegian = {1:'en', 2:'to', 3:'tre', 4:'fire', 5:'fem', 6:'seks', 7:'sju', 8:'åtte', 9:'ni', 10:'ti'}
english = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine', 10:'ten'}
german = {1:'eins', 2:'zwei', 3:'drei', 4:'vier', 5:'funf', 6:'sechs', 7:'sieben', 8:'acht', 9:'neun', 10:'zehn'}

def translate(digit, lang_from, lang_to):
    for key, value in lang_from.items():
        if value == digit:
            return lang_to[key]
    print(f"Invalid number: \"{digit}\"")
	
translate('zwei', german, norwegian)

'to'

In [107]:
norwegian = {1:'en', 2:'to', 3:'tre', 4:'fire', 5:'fem', 6:'seks', 7:'sju', 8:'åtte', 9:'ni', 10:'ti'}
english = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five', 6:'six', 7:'seven', 8:'eight', 9:'nine', 10:'ten'}
german = {1:'eins', 2:'zwei', 3:'drei', 4:'vier', 5:'funf', 6:'sechs', 7:'sieben', 8:'acht', 9:'neun', 10:'zehn'}


def print_numbers(dict_lst):
	for i in range(len(dict_lst[0])):
		print(i+1, dict_lst[0][i+1], dict_lst[1][i+1], dict_lst[2][i+1]) #have to have [i+1] when 
		#indexing the dictionary since its index starts at 1

print_numbers([norwegian, german, english])

#missed 1 braket

1 en eins one
2 to zwei two
3 tre drei three
4 fire vier four
5 fem funf five
6 seks sechs six
7 sju sieben seven
8 åtte acht eight
9 ni neun nine
10 ti zehn ten

In [118]:
def countWords():
	counter = 0
	sentance = input("Enter a sentance: ")
	sentance_lst = sentance.split()
	word = input("Enter a word: ")
	for i in range(len(sentance_lst)):
		if word.upper() == sentance_lst[i].upper():
			counter += 1
	print(f"The word \"{word}\" appeared {counter} times in \"{sentance}\"")
countWords()

#glemte " etter \" for å lukke f-stringen

The word "hei" appeared 2 times in "Hei hei jeg"

In [ ]:
def mergeLists(keys, values):
    if len(keys) == len(values):
        new_dict = {}   # Create dictionary BEFORE the loop
        for i in range(len(values)):
            a = keys[i]
            b = values[i]
            new_dict[a] = b  # Add key/value pair
        return new_dict
    else:
        print("Lists do not match in length")
        return {}

In [ ]:
def mergeLists(keys, values):
    if len(keys) != len(values):
        print("Lists do not match in length")
        return {}
    return dict(zip(keys, values))
#can just zip the keys-list and values-list

In [128]:
for n in range(1, 20, 2): #prints all odd numbers including 1 and 19
    print(n, end=" ") #end makes it all in one line

1 3 5 7 9 11 13 15 17 19

In [ ]:
#fibonacci
a = 0
b = 1

for i in range (10): 
    print(a + b)
    y = a
    a = b
    b = y + b

1
2
3
5
8
13
21
34
55
89

In [ ]:
#fibonacci with tuple-unpacking, avoiding temporary variable.
a = 0
b = 1

for i in range (10): 
    print(a + b)
    a, b = b, a+b

1
2
3
5
8
13
21
34
55
89

In [ ]:
for value in norwegian.values():
    print(value)

en
to
tre
fire
fem
seks
sju
åtte
ni
ti

In [159]:
'Th' in 'python'

False

In [ ]:
"Dr" in "Dr. Malone"[::-1]   #False since membership respects order

False

In [168]:
lst = [1,2,3,4,5,6]
lst[:-1:-1]
#print(lst)

[]

In [ ]:
lst[2:100] #its out of range but slicing dont care it just stops at the last index

[3, 4, 5, 6]

In [ ]:
lst[5:3] #prints empty list [], since start condition is bigger than end-condition. it cant move forward from 5 and stop at 3.
#stop condition is met immediately, since 5 > 3

[]

In [ ]:
lst[5:3:-1] #This is different since it moves backwards.

[6, 5]

In [ ]:
x = [1, 2]
y = x       #this does not make a new list. it just makes y point to list x
            #so there is only one list, but with two names 'x' and 'y'
y.append(3) #appending 3 to list y also changes list x. x and y refer to the same list 
print(x)    #modifying through y modifies the object that x also points to
print(y)    #happens since mutable objects use referenance assignment, unlike immutable objects which use copying

[1, 2, 3]
[1, 2, 3]

In [186]:
x = 5
y = x
y = y + 1   #Since integers are immutable it creates a copy so x ≠ y, and they are independent 
print(x)
print(y)

5
6

In [ ]:
a = {1:'en', 2:'to', 3:'tre'} # same as list (above) goes for dictionary since both are mutable
b = a
b[4]= "fire"
print(b)
print(a)

{1: 'en', 2: 'to', 3: 'tre', 4: 'fire'}
{1: 'en', 2: 'to', 3: 'tre', 4: 'fire'}

In [193]:
a = {1:'en', 2:'to', 3:'tre'} # same as list (above) goes for dictionary since both are mutable
b = a
b[4]= "fire"
print(b)
print(a)

{1: 'en', 2: 'to', 3: 'tre', 4: 'fire'}
{1: 'en', 2: 'to', 3: 'tre', 4: 'fire'}

In [ ]:
#prints out how many numbers there is in a nested list
table = [[1, 2], [3, 4, 5], [6]]
count = 0
for row in table:
    count += len(row)
print(count)

6

In [196]:
d = {1: "en", 2: "to", 3: "tre"}
print(2 in d)
print("to" in d)

True
False

In [ ]:
def count_even(lst):
    return len([x for x in lst if x % 2 ==0])

count_even([1,2,3,4,5,6])

3

In [ ]:
x = [1, 2, 3]
y = x         #point to the same list
x = x + [4]   # + on lists creates a new list.
y.append(5)   #mutates y in place which is the old list

print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 5]

In [205]:
def count_words_with_letter(text, letter):
	lst_text = text.split()
	count = 0
	for word in lst_text:
		if letter.upper() in word.upper():
			count += 1
	return count    

count_words_with_letter("hei jeg gikk til skoleneee", "e")

3

In [211]:
def filter_long_words(words, length):
	long_word_lst = []
	for i in words:
		if len(i) > length:
		    long_word_lst.append(i)
	return long_word_lst

filter_long_words(["hei","sentance","four"],3)

['sentance', 'four']

In [214]:
def remove_negatives(lst):
	new_lst = []
	for i in lst:
		if i >= 0:
			new_lst.append(i)
			
	return new_lst

remove_negatives([-1,-2,3,4])

[3, 4]

In [215]:
def remove_negatives(lst):
    return [x for x in lst if x>= 0]

remove_negatives([-1,-2,3,4])

[3, 4]

In [ ]:
#counts how many sequences there are with increasing numbers
def count_runs(lst):
    count = 0
	for i in range(len(lst)-1):
		if lst[i] < lst[i+1]:
		    count +=1
	return count

count_runs([1,2,0,1])

2

In [229]:
def compress_consecutive(lst):
	if len(lst) == 0:
		return []

	new_lst = [lst[0]]
	count = 0
	for i in range(len(lst)-1):
		if new_lst[count] == lst[i]:
			continue
		if lst[i] == lst[i+1]:
			new_lst.append(lst[i])      # Append is a fuction -> ()
			count += 1
		else:
			new_lst.append(lst[i])
	
	return new_lst

compress_consecutive([1, 1, 2, 2,2,2, 2, 3, 1, 1])

[1, 2, 3, 1]

In [230]:
def compress_consecutive(lst):
    if len(lst) == 0:
        return []

    new_lst = [lst[0]]  # start with first element

    for i in range(len(lst)-1):
        if lst[i] != lst[i+1]:      # only append when a NEW run starts
            new_lst.append(lst[i+1])

    return new_lst

compress_consecutive([1, 1, 2, 2, 2, 3, 1, 1])

[1, 2, 3, 1]

In [237]:
def alternate_sum(lst):
    s = 0
    for i in range(len(lst)):
        if i % 2 == 0:    #0,2,4.. even-numbers
            s+= lst[i]  #subtracting even numbers
        else:
            s-=lst[i]
    return s

alternate_sum([1,2,3,4])

-2

In [240]:
def count_local_maxima(lst):
	counter = 0
	for i in range(1, len(lst)-1):
		if lst[i] > lst[i-1] and lst[i]> lst[i+1]:
			counter += 1
			
	return counter

count_local_maxima([5, 4, 5, 2, 1])

1

In [244]:
def filter_strings_with_letter(lst, letter):
	new_lst = []
	for i in lst:
		if letter.upper() in i.upper():
			new_lst.append(i)
			
	return new_lst

filter_strings_with_letter(["Apple", "banana", "pear", "Avocado"], "A")

['Apple', 'banana', 'pear', 'Avocado']

In [246]:
def build_frequency_dict(lst):
	new_dict = {}
	for i in lst:
		count = 0
		for j in lst:
			if i==j:
				count+=1
		new_dict[i] = count
	
	return new_dict

build_frequency_dict([1, 2, 2, 3, 1, 3, 3])
#{1: 2, 2: 2, 3: 3}

{1: 2, 2: 2, 3: 3}

In [252]:
#faster runtime-way
def build_frequency_dict(lst):
    new_dict = {}
    for i in lst:
        if i in new_dict:
            new_dict[i] += 1
        else:
            new_dict[i] = 1
    return new_dict

build_frequency_dict([1, 2, 2, 3, 1, 3, 3])

{1: 2, 2: 2, 3: 3}

In [250]:
#adding a new key-value par
dictionary = {}
dictionary['key'] = "value"
dictionary

{'key': 'value'}

In [ ]:
2 in [1,[2], 3] #False since integer 2 is not there, but list with 2 is

False

In [ ]:
#how to create a new list (not a reference to the same)
old_lst = [1,2,3,4]
new_lst = old_lst[:] #with slicing
new_lst = old_lst.copy() #with copying

In [ ]:
lst = [1, 2, 3, 4]
lst[:] = lst[1:-1] #lst[1:-1] creates a new list which replaces the old content, so overwrites the SAME list
lst

[2, 3]

In [263]:
lst = [1, 2, 3, 4]
lst = lst[1:-1]
lst

[2, 3]